name: ci

on:
  push:
    branches: [main]
    paths-ignore:
      - "*/**.md"
      - "*/**.txt"
  pull_request:
    branches: [main]
    paths-ignore:
      - "*/**.md"
      - "*/**.txt"

env:
  CI: true

defaults:
  run:
    shell: bash

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 24.x]
        platform: [ubuntu-latest]

    runs-on: ${{matrix.platform}}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{matrix.node-version}}@${{matrix.platform}}-build-${{hashFiles('package.json')}}
          restore-keys: ${{matrix.node-version}}@${{matrix.platform}}-build-
      - uses: actions/setup-node@v5
        with:
          node-version: ${{matrix.node-version}}
      - run: npm install
      - run: npm run format
      - run: npm run lint
      - run: npm run depcruise
      - run: npm test

  codeql:
    name: CodeQL
    needs: [check]
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v5
      - uses: github/codeql-action/init@v4
        with:
          languages: javascript
          config-file: ./.github/codeql/codeql-config.yml
      - uses: github/codeql-action/analyze@v4
